<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Колонизация</title>
    <link type="text/css" rel="stylesheet" href="../static/css/promotion.css">
</head>
<body>
<h1>Жди нас, Марс!</h1>
<img src="../static/images/mars.png" alt="Марс">
<section class="promote">
    <p class="text">Человечество вырастает из детства.</p>
    <p class="text">Человечеству мала одна планета.</p>
    <p class="text">Мы сделаем обитамемыми безжизненные пока планеты.</p>
    <p class="text">И начнем с Марса!</p>
    <p class="text">Присоединяйся</p>
</section>
</body>
</html>